@import "ui-mixins";
@import "ui-variables";

.panel {
  &.bordered {
    border: 1px solid @base-border-color;
    border-radius: @component-border-radius;
  }
}

atom-panel,
.tool-panel {
  position: relative;

  background: @tool-panel-background-color !important;
}

atom-panel.bottom {
  background: darken(@app-background-color, 3%);
  .text(normal);

  .inline-block {
    padding: 0 5px;
  }
}

atom-pane-resize-handle.vertical::before {
  height: 2px !important;
  top: -1px !important;
  background-color: @background-dktn-v2;
}

atom-pane-resize-handle.horizontal::before {
  width: 2px !important;
  left: -1px !important;
  background-color: @background-dktn-v2;
}

.atom-dock-resize-handle.atom-dock-resize-handle-resizable.bottom {
  background-color: @background-dktn-v2;
  height: 2px !important;
}

.atom-dock-toggle-button .atom-dock-toggle-button-inner {
  background-color: @background-dktn-v2;
}

.atom-dock-resize-handle.left, .atom-dock-resize-handle.right {
  background-color: @background-dktn-v2;
  width: 2px !important;
}
